<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>594575089302-u4cofcfh03ii90bum0c0h4ou8gir4sia.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.594575089302-u4cofcfh03ii90bum0c0h4ou8gir4sia</string>
	<key>API_KEY</key>
	<string>AIzaSyD1G3TBHmYxQz1t-C5DYKlBgc1bFAeXMRg</string>
	<key>GCM_SENDER_ID</key>
	<string>594575089302</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.oasjs.mynotes</string>
	<key>PROJECT_ID</key>
	<string>mynotes-flutter-project-oasjs</string>
	<key>STORAGE_BUCKET</key>
	<string>mynotes-flutter-project-oasjs.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:594575089302:ios:bafd714e6bbad1a88bacb7</string>
</dict>
</plist>